.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
  }
  
.map-row {
    display: flex;
  }
  
.map-cell {
    width: 2.5vw;
    height: 2.5vw;
  }

.map-cell:hover{
  background-color: yellow;
  cursor: pointer
}
.map-cell-0 {
    background-color: lightblue;
    border: 2px black dashed;
  }
  
.map-cell-1 {
  background-color: rgb(66, 0, 132);
  border: 2px rgb(255, 255, 255) dashed;
  }
  
.map-cell-2 {
    background-color: greenyellow;
    background-image: url(../images/start.png);
    background-size: contain;
    background-position: center;
    border: 2px black dashed;
  }
  
.map-cell-3 {
    background-color: rgb(252, 189, 71);
    background-image: url(../images/finish.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px black dashed;
  }
  