.maze {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.maze-row {
    display: flex;
  }
  
.maze-cell {
    width: 20px;
    height: 20px;
  }
  
.maze-cell-0 {
    background-color: white;
  }
  
.maze-cell-1 {
    background-color: black;
  }
  
.maze-cell-2 {
    background-color: green;
  }
  
.maze-cell-3 {
    background-color: red;
  }
  